@charset "utf-8"
.123 {
    color: aqua;
    text-align: center;
}
p {
    color: burlywood;
}
div {
    color: red;
}
body {
    background: pink;
}
.ff{
    color: black;
}
#f22{
    color: lawngreen;
}






























